# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
.venv-*/
venv/
env/

# IDE/editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local caches
.cache/

# Local notebooks
notebooks/word_embedding_fr_exploration.ipynb
notebooks/syllable_embedding_fr_exploration.ipynb
notebooks/phoneme_embedding_fr_exploration.ipynb
